<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="side">
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:void(0);">商品信息</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:void(0);">商品列表</a></dd>
                        <dd><a href="javascript:void(0);">商品类目</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:void(0);">订单信息</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:void(0);">订单列表</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">统计</a></li>
            </ul>
        </div>
    </div>
</div>