<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>上传测试</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.form.js}"></script>
</head>
<body>

<h1>Spring Boot file upload example</h1>

<form id="myForm" action="/upload" method="post" enctype="multipart/form-data">
    <div class="progress" style="width: 250px">
        <div id="bar" class="progress-bar progress-bar-danger" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
        </div>
        <span id="percent">0%</span>
    </div>
    <input type="file" name="file">
    <input type="submit" onclick="go()"/>
</form>

<script type="text/javascript">
    var bar = $('#bar'); // 进度条
    var percent = $('#percent'); // 百分比

    function go() {
        $('#myForm').ajaxSubmit({
            // dataType: 'json',
            beforeSend: function () {
                var percentVal = '0%';
                bar.css('width', percentVal).text('等待上传...');
                percent.html(percentVal);
            },
            //更新进度条事件处理代码
            uploadProgress: function (event, position, total, percentComplete) {
                var percentVal = percentComplete + '%';
                bar.css('width', percentVal).text('上传中...');
                percent.html(percentVal);
            },
            success: function (data) {
                alert('成功');
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('失败: ' + jqXHR.status);
            }
        });
    }
</script>

</body>
</html>