<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="include/title :: title"></div>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:include="include/header :: header"></div>
    <div th:include="include/side :: side"></div>
    <div th:include="include/footer :: footer"></div>

    <div class="layui-body">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px">
            <legend>基本信息</legend>
        </fieldset>
        <div style="width: 500px; margin: 0 auto;">
            <form class="layui-form layui-form-pane" autocomplete="off">
                <div class="layui-form-item">
                    <label class="layui-form-label layui-icon layui-icon-password">新密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="password" placeholder="请输入新密码" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="confirm">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    layui.use(['jquery', 'element', 'form'], function () {
        var $ = layui.jquery;
        var form = layui.form;

        form.on('submit(confirm)', function (data) {
            $.ajax({
                url: "/user/password",
                headers: layui.data('token'),
                data: data.field,
                type: 'POST',
                dataType: 'json',
                success: function (res) {
                    if (res.code === 0) {
                        layer.msg(res.msg);
                    } else {
                        layer.msg(JSON.stringify(res));
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    layer.msg('出错啦...错误码: ' + jqXHR.status + ' ' + jqXHR.statusText);
                }
            });
            return false; // require
        });
    });
</script>
</body>
</html>
